AUTH_SECRET="jCmp6XaX/PkuRATrNgqaVhFQM3t3eINbOmxGTVLlzXk="
DATABASE_URL=mongodb+srv://aymenbachiri99:fQhxuDHtEjafM4JI@cluster0.1xzfuy8.mongodb.net/shopFlow?retryWrites=true&w=majority&appName=Cluster0
USERNAME=aymenbachiri99
PASSWORD=fQhxuDHtEjafM4JI
NEXT_PUBLIC_API_URL=http://localhost:3000